/* custom css variables */

:root{
    --LT-GRN: #00BE9D;
    --DARK-GRAY: #2D2D2D;
    --DARKER-GRAY: #222222; 
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: var(--DARK-GRAY);
    color: white;
    font-family: Inter, sans-serif;
}

.content-wrapper{
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 100vh;
}

.img-container{
    padding: 25px;
    background-color: var(--DARKER-GRAY);
    height: inherit;
}

.img-container.child{
    width: auto;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.txt-wrapper{
    display: flex;
    align-items: center;
    padding: 35px 100px 35px 99px;
}

.txt-container{
    
    width: 653px;
}

.txt-container.head{
    font-size: 4.688rem;
    margin: 0;
}

.txt-container.flair{
    font-size: 1.438rem;
    font-weight: 500;
}

.txt-container.norm{
    font-size: 1.688rem;
    font-weight: 600;
}

.cpyrght{
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 35px;
}

.grn-highlight{
    color: var(--LT-GRN);
}

.grn-highlight.bold{
    font-weight: 800;
    color: var(--LT-GRN);
}