/* custom css variables */

:root{
    --green-highlight: #00BE9D;
    --off-black: #404040;
    --dark-gray: #353535; 
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-family: Inter, sans-serif;
    background-color: var(--off-black);
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    height: 95vh;
    width: 100%;
}

.text-container {
    color: white;
    background-color: var(--dark-gray);
}

.text-container h1 {
    font-size: 64px;
    text-align: center;
}

.text-wrapper {
    padding: 62px 121px 62px 122px;
}

.text-container.text {
    font-size: 24px;
    line-height: 29.05px;
    width: 496px;
}

.text-container summary {
    font-size: 32px;
}

.text-container.hi-light{
    color: var(--green-highlight);
}

.image-container.child {
    width: auto;
    height: 95vh;
    object-fit: cover;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 24px;
}